html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #7f2d18, #20303d); /* Gradient background */
    font-family: Arial, sans-serif;
}

header {
    background-color: #14db9c;
    color: #050101;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #3102b1;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#camera {
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
