html, body {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #7f2d18, #20303d); /* Gradient background */
}


.container {
    text-align: center;
    background-color: #3c6193;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container form button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container form button:hover {
    background-color: #0056b3;
}

.guest-mode {
    text-align: center;
    margin-top: 10px;
}

.guest-mode a {
    color: #007BFF;
    text-decoration: none;
}

.guest-mode a:hover {
    text-decoration: underline;
}
